.events-edit-screen,
.events-new-screen {
  .model-field {
    width: 100%;
    border: 1px solid #ddd;
    border-top: 0;
    font-size: 1.3rem;
    padding: 0.5rem;
  }

  textarea.model-field {
    height: 8rem;
  }

  input[type=checkbox] {
    display: inline-block;
    width: auto;
  }
}

.flatpickr-wrapper.open .flatpickr-calendar {
  font-size: 1.3rem;
}

.flatpickr-wrapper .flatpickr-calendar .flatpickr-months {
  margin-bottom: 0.5rem;
}

.flatpickr-wrapper input {
  font-size: 1.3rem;
}
