<div class="title-bar">
  {{#link-to "events-new" class="title-bar-button"}}
    {{partial "svg/plus"}}
  {{/link-to}}
</div>

<!-- 
<div class="scroll-view below-title-bar">
  {{#each model as |event|}}
    {{event.title}}<br>
  {{/each}}
</div>
-->
