.table-view {
  list-style-type: none;
  overflow: auto;
}

.table-view-item {
  position: relative;
  display: block;
  border-bottom: 1px solid #eee;
  padding: 1rem 1.75rem;
  font-size: 1.4rem;
  line-height: 130%;
  cursor: pointer;
}

.table-view-item--search {
  border-bottom: none;
  padding: 0.75rem;
  background: #ddd;

  input {
    border: none;
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
    font-size: 1.3rem;
    background: #fff;
  }
}

.table-view-item--action {
  color: $ios-blue;
  cursor: pointer;
  background-color: rgba(113, 181, 255, 0.14);
}

.table-view-item-text-label {
  margin-bottom: 0.5rem;
  color: #333;
  font-size: 1.5rem;
  font-weight: bold;
}

.table-view-item-text-label-detail {
  font-size: 1.3rem;
  color: #555;
}

.table-view-item-status {
  position: absolute;
  top: 31%;
  right: 10px;
  color: #888;
  font-size: 1.2rem;
}
