.title-bar {
  @include position(absolute, 0 0 auto 0);
  display: flex;
  height: 44px;
  border-bottom: 1px solid #ccc;
  font-size: 1.6rem;
  line-height: 44px;
  text-align: center;
  background: #f6f6f6;
}

.title-bar-text {
  flex-grow: 2;
  font-weight: bold;
  @include ellipsis;
}

.title-bar-button {
  color: #007AFF;
  cursor: pointer;
}
